aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
alpaca-trade-api==2.0.0
alpha-vantage==2.3.1
altair==4.2.0
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.6.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
backtrader==1.9.76.123
beautifulsoup4==4.10.0
binance==0.3
bleach==4.1.0
blinker==1.4
bokeh==2.4.2
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.4
colorama==0.4.4
configparser==5.2.0
connectorx==0.2.5
crayons==0.4.0
cryptography==36.0.1
cssselect==1.1.0
cssutils==2.3.0
cycler==0.11.0
dateparser==1.1.1
DateTime==4.3
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.4
docker==5.0.3
dropbox==11.28.0
entrypoints==0.4
et-xmlfile==1.1.0
eventkit==0.8.9
exchange-calendars==3.6.1
fake-useragent==0.1.11
fastapi==0.75.1
feedparser==6.0.8
finnhub-python==2.4.9
finplot==1.8
finviz==1.4.3
finvizfinance==0.14.0
fix-yahoo-finance==0.1.35
Flask==2.1.1
fmp-python==0.1.4
fonttools==4.29.1
free-proxy==1.0.6
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
h11==0.13.0
html5lib==1.1
ib-insync==0.9.70
idna==3.3
imageio==2.17.0
importlib-metadata==4.10.1
importlib-resources==5.4.0
investpy==1.0.8
ipykernel==6.9.2
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaleido==0.2.1
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
llvmlite==0.36.0
lxml==4.7.1
Mako==1.2.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.3
multidict==6.0.2
multitasking==0.0.10
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numba==0.53.1
numpy==1.21.5
oauthlib==3.2.0
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
pandabase==0.5.0
pandas==1.3.5
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandocfilters==1.5.0
pangres==4.1.1
parfive==1.5.1
parse==1.19.0
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
pgcopy==1.5.0
pickleshare==0.7.5
Pillow==9.0.1
plotly==5.6.0
ply==3.11
premailer==3.10.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
protobuf==3.20.0
psutil==5.9.0
psycopg2==2.7.7
ptyprocess==0.7.0
pyarrow==7.0.0
pycparser==2.21
pydantic==1.9.0
pydeck==0.7.1
pyee==8.2.2
Pygments==2.11.2
pyluach==1.4.1
Pympler==1.0.1
pyodbc==4.0.32
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyppeteer==1.0.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqtgraph==0.12.3
pyquery==1.4.3
pyrsistent==0.18.1
python-crontab==2.6.0
python-dateutil==2.8.2
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
QuantStats==0.0.54
regex==2022.3.2
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.1
schedule==1.1.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
selenium==4.1.0
semver==2.13.0
Send2Trash==1.8.0
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
starlette==0.17.1
stone==3.3.1
streamlit==1.8.1
ta==0.9.0
TA-Lib==0.4.24
tabulate==0.8.9
telegram==0.0.1
telegram-send==0.25
tenacity==8.0.1
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
trading-calendars==2.1.1
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
tweepy==4.8.0
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
Unidecode==1.3.4
urllib3==1.26.8
user-agent==0.1.10
uvicorn==0.17.6
validators==0.18.2
vectorbt==0.23.3
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.5.2
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.1
Werkzeug==2.1.1
wget==3.2
widgetsnbextension==3.5.2
wsproto==1.0.0
XlsxWriter==3.0.3
yagmail==0.15.277
yahoo-earnings-calendar==0.6.0
yahoo-fin==0.8.9.1
yarl==1.7.2
yfinance==0.1.70
zipp==3.7.0
zope.interface==5.4.0
